spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/food_order
    username: (입력)
    password: (입력)
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update